.column.is-2.hero#menu
  .hero-body
    figure.image
      img(src="/public/images/na-logo.png")
    p= user
    p.menu-label Alunos
    ul.menu-list
      li
        a(href="/alunos/adicionar") Cadastrar Aluno
      li
        a(href="/alunos/") Visualizar Aluno
    p.menu-label Turmas
    ul.menu-list
      li
        a(href="/turmas/") Visualizar Turma
      li
        a(href="/turmas/adicionar") Cadastrar Turma