extends layout.pug

include mixins/field.pug

mixin form-aluno
  .box
    h1.title= aluno.nome
    - const link = `/alunos/${aluno.id}?_method=PUT`;
    form(method="POST", action=link)
      +field({label: "E-mail", name: "email", value: aluno.email, type: "email"})
      +field({label: "Data de Nascimento", name: "data_nascimento", value: aluno.data_nascimento, placeholder: "dd/mm/aaaa", pattern: "[0-9]{2}/[0-9]{2}/[0-9]{4}"})
      +field({label: "Telefone", name: "telefone", value: aluno.telefone, placeholder:"(99) 99999-9999"})
      +field({label: "Nível", name: "nivel", value: aluno.nivel, placeholder:"1 até 7", pattern: "[1-7]"})
      if credencial >= 1 
        +field({label: "Mensalidade", name: "mensalidade", value: aluno.mensalidade, placeholder: "R$ 9.999,99", pattern: "(R\\$( )*)?[0-9.]*[0-9](,[0-9]{2})?"})
      .field
        .control
          button.button.is-link Atualizar Dados

mixin aluno-presenca
  if credencial >= 2
    table.table
      thead
        th Data/Aluno
        each col in presencas.cols
          th= col
      tbody
        each row in presencas.rows
          tr
            td= row
            each col in presencas.cols
              - const cell = presencas.table[row][col];
              - const isBoolean = typeof cell === "boolean";
              - const str = isBoolean ? (cell ? "Presente" : "Faltou") : cell;
              td= str


block content
  .hero
    .hero-body
      .columns
        .column
          +form-aluno
        .column
          +aluno-presenca