extends layout.pug

include mixins/alunoPreview

block content
  - let i = 0;
  - const cols = 3;
  .hero
    .hero-body
      while i < alunos.length
        - const slice = alunos.slice(i, i + cols)
        .columns
          each aluno in slice
            .column.is-4
              +aluno-preview(aluno)
        - i += cols;