extends layout.pug

include mixins/field.pug

block content
  .hero
    .hero-body
      .columns
        .column.is-6
          .box
            h1.title Cadastre uma Turma
            form(method="POST" action="/turmas/")
              +field({label: "Nome da Turma", name: "nome"})
              +field({label: "Horário da Aula", name: "horario"})
              .field
                .control
                  button.button.is-link Cadastrar