extends layout.pug

include mixins/field.pug

block content
  .hero
    .hero-body
      .columns
        .column.is-6
          .box
            h1.title Cadastre um Aluno
            form(method="POST", action="/alunos/")
              +field({label: "Nome", name: "nome"})
              +field({label: "E-mail", name: "email", type: "email"})
              +field({label: "Data de Nascimento", name: "data_nascimento", placeholder:"dd/mm/aaaa", pattern: "[0-9]{2}/[0-9]{2}/[0-9]{4}"})
              +field({label: "Telefone", name: "telefone", placeholder:"(99) 99999-9999"})
              +field({label: "Nível", name: "nivel", placeholder: "1 até 7", pattern: "[1-7]"})
              +field({label: "Mensalidade", name: "mensalidade", placeholder: "9.999,99", pattern: "(R\\$( )*)?[0-9.]*[0-9](,[0-9]{2})?"})
              .field
                .control
                  button.button.is-link Cadastrar
