include mixins/menu.pug


doctype html
html
  head
    link(rel="stylesheet", href="/bulma/bulma.min.css")
    link(rel="stylesheet", href="/public/css/styles.css")
    title Nova Acrópole Chapecó
  body
    #app
      .main-content.columns.is-fullheight
        block menu-block
          +menu-mixin(user)
        .column.is-10
          block content