extends layout.pug

include mixins/field.pug

block content
  .hero
    .hero-body
      .columns
        .column.is-6
          .box
            h1.title Faça Login
            form(method="POST" action="/login")
              +field({label: "Nome de Usuário", name: "nome_usuario"})
              +field({label: "Senha", name: "senha", type: "password"})
              .field
                .control
                  button.button.is-link Login