extends layout.pug

include mixins/field.pug

mixin turma-alunos
  .box
    table.table
      thead
        th 
          h3.title.is-4 Alunos
        th
      tbody
        each aluno in alunos
          tr
            td
              span
                - const href = `/alunos/${aluno.id}`;
                a(href=href)= aluno.nome
            td
              span 
                - const buttonAction = `/turmas/${turma.id}/alunos/${aluno.id}/?_method=DELETE`;
                form(method="POST" action=buttonAction)
                  button.button.is-danger Remover
    - const action = `/turmas/${turma.id}/alunos/`;
    form(method="POST" action=action)
      +field({label: "Nome do Aluno", name: "nome"})
      .field
        .control
          button.button.is-link Adicionar Aluno

mixin fazer-chamada
  .box
    h3.title.is-4 Faça a Chamada
    - const formAction = `/turmas/${turma.id}/presenca/`;
    form(method="POST" action=formAction)
      table.table
        thead
          th Aluno
          th Presente?
        tbody
          each aluno in alunos
            tr
              td= aluno.nome
              td
                - const inputName = `alunos['${aluno.id}']`;
                input(type="checkbox" checked name=inputName)
      +field({label: "Data da Aula", name: "data_presenca", value: hoje})
      .field
        .control
          button.button.is-link Fazer Chamada

mixin turma-presenca
  h3.title.is-3 Registro de Presença
  table.table
    thead
      th Data/Aluno
      each col in presencas.cols
        th= col
    tbody
      each row in presencas.rows
        tr
          td= row
          each col in presencas.cols
            - const cell = presencas.table[row][col];
            - const isBoolean = typeof cell === "boolean";
            - const str = isBoolean ? (cell ? "Presente" : "Faltou") : cell;
            td= str

mixin form-update
  .box
    - const formAction = `/turmas/${turma.id}/?_method=PUT`;
    form(method="POST" action=formAction)
      +field({label: "Horário de Aula", value: turma.horario, name: "horario_aula"})
      .field
        .control
          button.button.is-link Atualizar Horário

block content
  .hero
    .hero-body
      .columns
        .column.is-6
          .columns
            .column
              h1.title= turma.nome
              +form-update
              //- p= "Horário: "
              //-   strong= turma.horario
          .columns
            .column
              +turma-alunos
        .column.is-6
          +turma-presenca
      .columns
        .column.is-6
          +fazer-chamada