extends layout.pug

include mixins/turmaPreview.pug

block content
  - let i = 0;
  - const cols = 3;
  .hero
    .hero-body
      while i < turmas.length
        - const slice = turmas.slice(i, i + cols)
        .columns
          each turma in slice
            .column.is-4
              +turma-preview(turma)
        - i += cols;