//- mixin field(placeholder, name, value, type, pattern, test)
mixin field(props)
  - const realType = props.type || "text";
  - props.placeholder = props.placeholder || props.label
  p= test
  .field
    label.label= props.label
    .control
      input.input(placeholder=props.placeholder name=props.name value=props.value required="required" type=realType pattern=props.pattern)