mixin menu-mixin(user)
  .column.is-2.hero#menu
    .hero-body
      figure.image
        img(src="/public/images/na-logo.png")
      if user
        p= "Olá, "
          span= user.nome_usuario
        form(method="POST" action="/login?_method=DELETE")
          button.button.is-link SAIR
        p.menu-label Alunos
        ul.menu-list
          li
            a(href="/alunos/adicionar") Cadastrar Aluno
          li
            a(href="/alunos/") Visualizar Aluno
        if user && user.credencial >= 2
          p.menu-label Turmas
          ul.menu-list
            li
              a(href="/turmas/") Visualizar Turma
            li
              a(href="/turmas/adicionar") Cadastrar Turma